@model IEnumerable<TechTest1.Models.Pile>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tech Test 1</h1>
    <p class="lead">Test application with basic search</p>
    <p>Go to the piles page to test!</p>
</div>

